:root {
  --background-color: #000028;
  --header-label-font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --header-label-text-color: #db00ff;
  --header-label-box-shadow-color: #ff0070;
  --title-text-color: #000028;
  --text-font-size: 18px;
  --title-color: #ff0070;
  --text-color: #f1b2ce;
  --title-background-color: #ff0070;
  --text-shadow-color: #ff0070;
  --border-color: rgb(255, 0, 112);
  --border-color-hover: rgb(255, 0, 112, 0.4);
  --header-background-image: url(../images/cover-image-dark.png);
  --decoration-color: #ff0070;
  --button-color: #ff0070;
  --decoration-visible: block;
  --link-color: #f1b2ce;
  --link-shadow-color: #ff0070;
}
